<div class="text govuk-visually-hidden theme__cookie-success-message-grey" id="cookie-preference-success">
    <div class="govuk-width-container">
        <div class="govuk-!-padding-top-5  success-message" aria-labelledby="success-title" role="alert" tabindex="-1">
            <h3 class="govuk-heading-m">Your cookie settings were saved</h3>
            <p class="govuk-body">Government services may set additional cookies and, if so, will have their own cookie policy and banner.
            <br>
            <a href="/">Go to homepage</a></p>
        </div>
    </div>
</div>