{% macro summary(fail) %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      {{ fail.heading }}
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        {% for error in fail.errors %}
          <li>
            <a href="#error{{ error.field | capitalize }}">{{ error.message }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro message(field, message) %}
  <span id="error{{ field | capitalize }}" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span>
    {{ message }}
  </span>
{% endmacro %}