@import '../../../node_modules/govuk-frontend/govuk/all.scss';

// Custom styles for specific views
@import './confirm-availability.scss';
@import './privacy.scss';

.hidden {
    display: none;
}

.js-show {
    display: none;
}

.js-enabled{
    .js-show {
        display: inherit;
    }
}

.capitalize:first-letter {
    text-transform: capitalize;
} 
