.contact-container {
  border-left: 1px solid $govuk-border-colour !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

@media print {
  .noPrint{
    display:none;
  }

  .policy{
    width:100%;
  }
}
